In [17]:
import pandas as pd

# Given data
data = {
    'Name': ['Mudit Chauhan', 'Seema Chopra', 'Rani Gupta', 'Aditya Narayan', 'Sanjeev Sahni',
             'Prakash Kumar', 'Ritu Agarwal', 'Akshay Goel', 'Meeta Kulkarni', 'Preeti Ahuja',
             'Sunil Das Gupta', 'Sonali Sapre', 'Rashmi Talwar', 'Ashish Dubey', 'Kiran Sharma',
             'Sameer Bansal'],
    'Birth_Month': ['December', 'January', 'March', 'October', 'February', 'December',
                    'September', 'August', 'July', 'November', 'April', 'January', 'June',
                    'May', 'February', 'October'],
    'Gender': ['M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'M'],
    'Pass_Division': ['III', 'II', 'I', 'I', 'II', 'III', 'I', 'I', 'II', 'II', 'III', 'I', 'III', 'II', 'II', 'I']
}

# Display the DataFrame
df = pd.DataFrame(data)
print(df)

               Name Birth_Month Gender Pass_Division
0     Mudit Chauhan    December      M           III
1      Seema Chopra     January      F            II
2        Rani Gupta       March      F             I
3    Aditya Narayan     October      M             I
4     Sanjeev Sahni    February      M            II
5     Prakash Kumar    December      M           III
6      Ritu Agarwal   September      F             I
7       Akshay Goel      August      M             I
8    Meeta Kulkarni        July      F            II
9      Preeti Ahuja    November      F            II
10  Sunil Das Gupta       April      M           III
11     Sonali Sapre     January      F             I
12    Rashmi Talwar        June      F           III
13     Ashish Dubey         May      M            II
14     Kiran Sharma    February      F            II
15    Sameer Bansal     October      M             I

In [18]:
# a. Performing one-hot encoding of the last two columns using get_dummies()
df_encoded = pd.get_dummies(df[['Gender', 'Pass_Division']])

# Concatenate the encoded DataFrame with the original DataFrame
df = pd.concat([df, df_encoded], axis=1)

# Drop the original categorical columns
df = df.drop(['Gender', 'Pass_Division'], axis=1)

# Display the DataFrame after one-hot encoding
print("DataFrame after One-Hot Encoding:\n", df)

DataFrame after One-Hot Encoding:
                Name Birth_Month  Gender_F  Gender_M  Pass_Division_I  \
0     Mudit Chauhan    December     False      True            False
1      Seema Chopra     January      True     False            False
2        Rani Gupta       March      True     False             True
3    Aditya Narayan     October     False      True             True
4     Sanjeev Sahni    February     False      True            False
5     Prakash Kumar    December     False      True            False
6      Ritu Agarwal   September      True     False             True
7       Akshay Goel      August     False      True             True
8    Meeta Kulkarni        July      True     False            False
9      Preeti Ahuja    November      True     False            False
10  Sunil Das Gupta       April     False      True            False
11     Sonali Sapre     January      True     False             True
12    Rashmi Talwar        June      True     False            False
13     Ashish Dubey         May     False      True            False
14     Kiran Sharma    February      True     False            False
15    Sameer Bansal     October     False      True             True

    Pass_Division_II  Pass_Division_III
0              False               True
1               True              False
2              False              False
3              False              False
4               True              False
5              False               True
6              False              False
7              False              False
8               True              False
9               True              False
10             False               True
11             False              False
12             False               True
13              True              False
14              True              False
15             False              False

In [12]:
# b. Sort the DataFrame based on the "Birth_Month" column

month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

df['Birth_Month'] = pd.Categorical(df['Birth_Month'], categories=month_order, ordered=True)

df = df.sort_values(by='Birth_Month')

# Display the sorted DataFrame
print("\nDataFrame Sorted on Birth Month:\n", df)

DataFrame Sorted on Birth Month:
                Name Birth_Month  Gender_F  Gender_M  Pass_Division_I  \
1      Seema Chopra     January      True     False            False
11     Sonali Sapre     January      True     False             True
4     Sanjeev Sahni    February     False      True            False
14     Kiran Sharma    February      True     False            False
2        Rani Gupta       March      True     False             True
10  Sunil Das Gupta       April     False      True            False
13     Ashish Dubey         May     False      True            False
12    Rashmi Talwar        June      True     False            False
8    Meeta Kulkarni        July      True     False            False
7       Akshay Goel      August     False      True             True
6      Ritu Agarwal   September      True     False             True
3    Aditya Narayan     October     False      True             True
15    Sameer Bansal     October     False      True             True
9      Preeti Ahuja    November      True     False            False
0     Mudit Chauhan    December     False      True            False
5     Prakash Kumar    December     False      True            False

    Pass_Division_II  Pass_Division_III
1               True              False
11             False              False
4               True              False
14              True              False
2              False              False
10             False               True
13              True              False
12             False               True
8               True              False
7              False              False
6              False              False
3              False              False
15             False              False
9               True              False
0              False               True
5              False               True